@import '../variables';

.custom-data-table {
  .dt-info-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .dt-title {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .dt-header:hover {
    background-color: $gray-200;
  }
  .pagination {
    display: flex;
    align-items: center;
    .row-per-page {
      margin-left: 2rem;
      select {
        margin-left: 1rem;
        padding: 0.2rem;
        border: 1px solid #dee2e6 !important;
        color: $primary;
      }
      select:focus {
        border: 1px solid #dee2e6 !important;
        color: $primary;
      }
    }
  }
}
